<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <logger name="se.atrosys" level="DEBUG"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty name="appName" source="spring.application.name"/>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender" includeMdc="true">
        <destination>127.0.0.1:5000</destination>
        <includeCallerData>true</includeCallerData>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"${appName}"}</customFields>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stash" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>